## @file test-mdbook.yml
#
# A workflow that builds and tests the mdbook documentation.
#
##
# Copyright (c) Microsoft Corporation.
# SPDX-License-Identifier: Apache-2.0
##
name: Mdbook Docs Test

on:
  workflow_dispatch:
  push:
    branches:
      - "main"
      - "major"
      - "feature/**/*"
  pull_request:
    branches:
      - "main"
      - "major"
      - "feature/**/*"

jobs:
  mdbook_docs_test:
    name: Test Docs
    uses: OpenDevicePartnership/patina-devops/.github/workflows/MdbookWorkflow.yml@personal/joeyvagedes/mdbook
    with:
      mdbook-path: "docs"
      build-cmd: cargo make build-lib
    secrets: inherit
